.buttonsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding-block: 20px;
    gap: 0.2rem;

}
.button{
    width: 60px;
    height: 60px;
    margin: 3px;
    background-color: rgb(62, 127, 218);
    color: white;
    border-radius: 50%;
}
.btnContWrapper{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}