.display{
    width: 92%;
    font-size: 2rem;
    display: flex;
    margin-top: 0.1rem;
    height: 8.6vh;
    justify-content: center;
    justify-self: center;
    background-color: rgb(92, 132, 152);
    color: rgb(211, 223, 236);
    

}
